<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="dark">Bienvenido</ion-title>
    </ion-toolbar>

  </ion-header>
  <ion-card>
    <img src="https://rlv.zcache.es/postal_gato_collage_de_gatos-r5320fe69624b473982dab5c6aeed6cc2_ucbjp_307.jpg" />
    <ion-card-header color="tertiary" >
      <ion-card-subtitle>Quito, Ecuador</ion-card-subtitle>
      <ion-card-title>¡Diviérte tomando fotografías!</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <br><br>
      <h2>Tus fotos serán almacenadas en nuestro espacio ¡Haz la prueba!</h2>
      <br><br>
    </ion-card-content>
  </ion-card>
</ion-content>
