<ion-header>
  <ion-toolbar>
    <ion-title>
      Sobre nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Integrantes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-avatar slot="end">
        <img src="https://www.pngitem.com/pimgs/m/80-800194_transparent-users-icon-png-flat-user-icon-png.png "/>
      </ion-avatar>
      <ion-label>
        <h3>Diana Almeida</h3>
        <p>Escuela Politécnica Nacional</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="https://www.pngitem.com/pimgs/m/80-800194_transparent-users-icon-png-flat-user-icon-png.png" />
      </ion-avatar>
      <ion-label>
        <h3>David Cacuango</h3>
        <p>Escuela Politécnica Nacional</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="https://www.pngitem.com/pimgs/m/80-800194_transparent-users-icon-png-flat-user-icon-png.png" />
      </ion-avatar>
      <ion-label>
        <h3>Rubén Maya</h3>
        <p>Escuela Politécnica Nacional</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
